.body{
    background:linear-gradient(#08032be2,black);
}

.searchInputWrapper{
    width:80%;
    margin:auto;
    position:relative;
    top:20px;
    padding: 8px 8px;
    background-color:#006494;
    margin-bottom:20px;
    border-radius:3px;
    align-items: right;
    color:#f8f9fa;

}

.busquedaInput{
    border-radius:3px;
    border:none;
    background-color:none;
    padding:3px;
}

.searchmodal{
    margin: 150px 50px;
}

.withinSearchInput{
    width:100%;
    align-items: center;
}

.searchButton {
    border-radius:3px;
    border:none;
    background-color:#08032be2;
    color:#f8f9fa;
    padding:3px;
    
}

.inputSearch{
    border-radius:3px;
}

.searchLabel{
    font-size:10px;
}
.resultContainer{
    display:flex;
    justify-content: space-between;
}


.classContainer{
    display: flex;
    background-color:#006494;
    padding: 8px 16px;
    justify-content: space-around;
    border:black;
    border-radius:3px;
}
.category{
    cursor:pointer;
    color:#f8f9fa;
    border:#f8f9fa;
    border-radius:3px;
}

.carouselContainer{
    width:80%;
   margin: 20px auto;
}

.carousel{
    width: 80%;
    height: 100%;
    margin:auto;
    align-items:center;
    position:relative;
}

.carouselTitle{
    width:25%;
    top:80%;
    left:60%;
    background: rgba(255,255,255, 0.3); /* Green background with 30% opacity */
    padding: 8px 16px;
    z-index: 10;
    color: #f8f9fa;
    font-size:20px;
    text-align: center;
}

.slider-img{
    width:100%;
    cursor:pointer;
}


.btn2{ 
    cursor:pointer;
    padding: 8px 16px;
    border-radius:3px;
}

.btn2::hover{
    background:#111
}

.buttons2{
padding:15px 0px;
}

.seleccion {
    color:#f8f9fa;
}

.BTNS{
    position: absolute;
    top: 50%;
    left: 0%;
    height: 50%;
    width: 100%;
    height: 100px;
    opacity: 0.8;
}

.btn2.prev2{
    left: 80px;
}

.btn2.next2{
    right: 80px;
}

.next2,.prev2 {
    border:none;
    background-color: #006494;
    color: #f8f9fa;
  }
  
.cardContainer {  
margin-top: 1cm;
display:flex;
justify-content: space-between;
}

.newCards, .newCardsResults {
    cursor:pointer;
    text-decoration: none;
}


.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}
