/*Footer*/
footer {
    top: auto;
    position: relative;
}
.footer{
    background-color:black;
    display: flex ;
    align-items: center ;
    justify-content: space-around;
}   
.ls{
    height: 50px;
    width: 50px;
    margin: 5px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}
a:hover{
    color: whitesmoke;
}
.a-footer{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.links{ 
  display: flex;
  flex-direction: column;
}