a {
    text-decoration: none;
}
.fondoLogin {
    background-image: url("/img/fondologin.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.violetaOscuro {
    background:linear-gradient(90deg,rgba(38, 38, 38, 0.7), rgba(0, 0, 0, 0.7));
}
main {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);

}
.azulOscuro {
    background:linear-gradient(#08032be2,black);
}
* {
    color: #f8f9fa;
}
.btn {
    background-color: #7040D4;
}
.cajas {
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.btnSuccess {
    background-color: #28a745;
}
input {
    color: black;
}
option {
    color:black;
}
select {
    color: black;
}

strong {
    color: black;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.829);
    border-color: rgba(255, 0, 0, 0.829);
}


@media only screen and (max-width:780px){
    .fondoLogin {
        background-image: url("/img/fondologin.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
